<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">

<title>Index</title>
</head>

<body
	style="background-image: url('C:\Users\sukha\Documents\workspace-spring-tool-suite-4-4.18.0.RELEASE\LoginSystem\src\main\resources\image\pastel-background-goo.jpg');">



	<div class="container my-5">
		<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
		<div class="row justify-content-center">
			<div class="col-8">
				<div class="card">
					<h4 class="card-header bg-dark text-white">Welcome to User
						Login System !!!</h4>
					<div class="card-body bg-light">
						<h5 class="card-title my-3 font-weight-bold">Click on Login,
							if already registered</h5>
						<a href="/login"><button type="button"
								class="btn btn-secondary">Login</button></a>


						<h5 class="card-text my-3 font-weight-bold">Click on Sign Up
							for New User</h5>
						<a href="/signup"><button type="button"
								class="btn btn-secondary">Signup</button></a>

					</div>
				</div>
			</div>
		</div>
	</div>

	<!--  Message	-->
	<div th:if="${session.msg != null}">
	<script type="text/javascript">
   		alert("[[${session.msg}]]")
   		</script>
   <div th:text="${@sessionUtilityBean.removeVerificationMessageFromSession()}"></div>
</div>
	




	<!-- Optional JavaScript; choose one of the two! -->

	<!-- Option 1: Bootstrap Bundle with Popper -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>

	<!-- Option 2: Separate Popper and Bootstrap JS -->
	<!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
</body>
</html>